[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/livingstonese
[access "refs/for/refs/*"]
	read = group user/livingstonese
	push = group user/livingstonese
	label-Code-Review = -2..+2 group user/livingstonese
	label-Verified = -1..+1 group user/livingstonese
	rebase = group user/livingstonese
	removeReviewer = group user/livingstonese
	submit = group user/livingstonese
[access "refs/heads/*"]
	read = group user/livingstonese
	create = group user/livingstonese
	push = +force group user/livingstonese
	pushMerge = group user/livingstonese
[access "refs/tags/*"]
	push = +force group user/livingstonese
	pushTag = group user/livingstonese
	pushSignedTag = group user/livingstonese
